<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Thử Nghiệm Với Angular</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://www.tiepphan.com">Lập Trình Thật Kỳ Diệu <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://www.tiepphan.com/category/web/lap-trinh-angular-2/">Lập trình Angular</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron tp-app__jumbotron">
    <h1>Thử Nghiệm Với Angular</h1>
    <p class="lead">
      Series được mang đến bởi Tiệp Phan, giới thiệu kỹ thuật lập trình với Angular version 2+
    </p>
    <a class="btn btn-lg btn-success"
       href="http://www.tiepphan.com/category/web/lap-trinh-angular-2/"
       target="_blank"
       role="button">View more articles &raquo;</a>
  </div>
  <div class="tp-app__content">
    <input type="text" #nameInput>
    <button (click)="sayHello()">Click me</button>
    <tp-switches #switches></tp-switches>
  </div>
</div>
