/* You can add global styles to this file, and also import other style files */

/**
 * ==================================================
 * global style
 * ==================================================
 */
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}
.tp-app {
  &__jumbotron {
    margin-top: 120px;
  }
  &__content {
    background: #f7f7f7;
    padding: 15px;
  }
}

/**
 * ==================================================
 * card style
 * ==================================================
 */
.tp-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  min-height: 320px;
  margin: 1rem;
  padding: 10px;
  position: relative;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  &__title {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #FF1744;
    font-weight: 700;
  }
  &__footer {
    position: absolute;
    bottom: 10px;
  }
}
