$redColour: #E57373;

.collapsible {
  border-top: 1px solid $redColour;
  border-right: 1px solid $redColour;
  border-left: 1px solid $redColour;
  margin: .5rem 0 1rem 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 0;
}
